.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin-top: -5em;
  min-height: 100vh;
}

.register-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-green);
  margin-top: 2em;
  margin-bottom: 2em;
  scale: 1.2;
}

.register-header-icon {
  scale: 2;
  margin-right: 1em;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.register-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
