.event-organizer-card {
  width: 100%;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 1.5em;
  border: 1px solid var(--font-color-gray);
  border-radius: 20px;
  margin-top: 1em;
  box-sizing: border-box;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1em;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.profile-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.view-profile-link {
  display: inline-block;
  color: var(--color-primary-green);
  text-decoration: none;
  font-weight: bold;
}
