.participant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  text-align: center;
}

.profile-pic {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.participant-info {
  width: auto;
}
