.primary {
  padding: 20px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  border: 1px solid var(--color-primary-green);
  border-radius: 50px;
  transition: 0.2s;
  background-color: var(--color-primary-green);
  box-sizing: border-box;
}

.secondary {
  padding: 20px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--color-primary-green);
  border: 1px solid var(--color-primary-green);
  border-radius: 50px;
  transition: 0.2s;
  background-color: var(--input-background);
  box-sizing: border-box;
}

.secondary:hover {
  background-color: #c6c6c6;
}
