.event-info {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5em;
}

.title {
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

.common-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--font-color-gray);
}

.info-icon {
  color: var(--color-primary-green);
}

.event-image {
  width: 100%;
  border-radius: 10px;
}
