.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.container {
  min-height: 70vh;
  width: 100%;
  text-align: center;
}

.login-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.login-image {
  max-width: 100%;
  height: auto;
  background-color: var(--input-background);
  border-radius: 20px;
}

.login-title {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
}

.login-subtitle {
  color: var(--font-color-gray);
  margin-bottom: 7em;
  letter-spacing: 2px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login-terms {
  color: var(--font-color-gray);
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

.login-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
