.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  min-height: 100vh;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-green);
  margin-top: 2em;
  margin-bottom: 2em;
  scale: 1.2;
}

.login-header-icon {
  scale: 2;
  margin-right: 1em;
}

.login-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.login-image {
  max-width: 100%;
  height: auto;
  background-color: var(--input-background);
  border-radius: 20px;
}

.login-title {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
}

.login-subtitle {
  color: var(--font-color-gray);
  margin-bottom: 4em;
  margin-top: -1em;
  letter-spacing: 2px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.login-terms {
  color: var(--font-color-gray);
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

.login-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
