header {
  width: 100%;
  height: 5em;
  background-color: var(--color-primary-green);
  display: flex;
  align-items: center;
  padding: 5px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.header-icon {
  scale: 2;
  margin-right: 1em;
}

.header-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}
