.container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

select {
  padding: 8px;
  border-radius: 50px;
  border: 1px solid var(--font-color-gray);
  background-color: var(--input-background);
  font-size: 1em;
  flex: 1;
}

select:focus {
  border-color: var(--color-primary-green);
}

.addBtn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  border-color: var(--color-primary-green);
  background-color: var(--input-background);
  font-size: 1em;
  flex: 1;
}

.addBtn p {
  margin: 0;
  margin-left: 8px;
}

.removeBtn {
  padding: 8px;
  border-radius: 50px;
  border-color: red;
  color: red;
  background-color: var(--input-background);
  font-size: 1em;
  flex: 1;
}
