.event-description-card {
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 1.5em;
  border: 1px solid var(--font-color-gray);
  border-radius: 20px;
  margin-top: 1em;
}

.description {
  color: var(--font-color-gray);
}

.additional-content {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--font-color-gray);
}

.icon {
  color: var(--color-primary-green);
}
