.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5em;
  border-radius: 999px;
  background: var(--input-background);
  box-sizing: border-box;
}

.filterBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.filterIcon {
  scale: 1.5;
}
