.search-page {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5em;
}

.heading {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--font-color-black);
  margin-bottom: 1.5em;
}

.heading-search {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--color-primary-green);
  margin-bottom: 1.5em;
  text-decoration: underline;
}

.query {
  color: var(--color-primary-green);
}

.participant-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 12px;
  border: 1px solid var(--font-color-gray);
  background-color: var(--color-white);
}

.profile-pic {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.participant-card p {
  flex: 1;
  font-size: 1.2rem;
  margin-left: 1em;
  font-weight: 600;
}

.participant-card span {
  margin-right: 1em;
  font-size: 0.9rem;
  color: var(--font-color-gray);
}

.participant-card a {
  color: var(--color-primary-green);
  text-decoration: none;
  font-weight: bold;
}

.participant-card a:hover {
  text-decoration: underline;
}

.search-page > p {
  font-size: 1.3rem;
  margin-top: 1.5em;
}
