.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 1em;
}

.label {
  font-size: 1em;
  font-weight: bold;
  color: var(--font-color-black);
}

.select {
  padding: 15px;
  width: 100%;
  font-size: 1em;
  border: 1px solid var(--font-color-gray);
  border-radius: 50px;
  background-color: var(--input-background);
  transition: 0.2s;
}

.select:focus {
  border-color: var(--color-primary-green);
}
