.container {
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.selector {
  padding: 15px;
  border: 1px solid var(--font-color-gray);
  border-radius: 50px;
  background-color: var(--input-background);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: 100%;
  margin-top: 0.3em;
  background: white;
  border: 1px solid var(--font-color-gray);
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 0;
}
