:root {
  --color-primary-green: #00a55a;
  --input-background: #f5f5f5;

  --font-base: 'Roboto', sans-serif;
  --font-color-black: #171717;
  --font-color-gray: #525252;
}

body {
  margin: 0;
}

body,
button,
input,
select,
textarea {
  font-family: var(--font-base);
}
