:root {
  --color-primary-green: #00a55a;
  --input-background: #f5f5f5;

  --font-base: 'Roboto', sans-serif;
  --font-color-black: #171717;
  --font-color-gray: #525252c9;
}

body,
html {
  margin: 0;
}

body {
  margin-top: 5.6em;
  margin-bottom: 5.2em;
}

body,
button,
input,
select,
textarea {
  font-family: var(--font-base);
  color: var(--font-color-black);
}
