.event-details-page {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5em;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  margin-bottom: 2em;
}
