.event-details-page {
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
}

.header-image {
  width: 100%;
  border-radius: 10px;
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.event-info {
  width: 100%;
  text-align: left;
}

.common-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--font-color-gray);
}

.info-icon {
  color: var(--color-primary-green);
}
